<div class="wrapper-md" ng-controller="FormDemoCtrl">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="label bg-danger pull-right m-t-xs">Download</span> Tasks
            </div>
            <a class="btn btn-primary" href="http://138.197.2.253:5007/output/<%=data[0]%>">Save changes</a>
        </div>
    </div>
</div>
