<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="utf-8" />
  <title>Html version | Angulr</title>
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/app.min.css" type="text/css" />
</head>
<body ui-jq="hackaton">
<div class="app app-header-fixed app-aside-fixed app-aside-folded">
  <% include header.ejs %>
    <% include aside.ejs %>



  <!-- content -->
  <div id="content" class="app-content" role="main">
  	<div class="app-content-body">
          <%- body %>
	</div>
  </div>
  <!-- /content -->

  <% include footer.ejs %>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./javascripts/app.src.js"></script>

</body>
</html>
